body{
    background-color: lightgreen !important;
}
form{
    width: 39%;
    margin-top: 15%;
    margin-left: 30%;
    border: 2px transparent;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0.5px 0.5px 8px #808080;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkgreen;
    background-color: greenyellow;
}

.col-9 input{
    width: 100%;
    border: 2px green solid;
}

.col-3 label{
    font-size: large;
}

#textarea1{
    width: 100%;
    border: 2px green solid;
}

#bt{
    padding:10px;
    margin-left: 20%;
    margin-top: 30px;
    border: 2px transparent;
    border-radius: 5px;
    background-color: white;
    color: green;
    width: 200px;
}
